
.mbottom20{margin-bottom: 20px !important;}
.pleft0{padding-left:0 !important;}

.panel-body{
    background-color: #fff !important;
    border: 0 !important;
}
.modal-title{
    color:#000 !important;
}
.panel-body{
    color:#000 !important;
}

.modal-content h4{
    color:#9d3c34;
}

.flag_lang{
    width:20px;
}



.nosotros.c1{
    padding-top:0em;padding-left:0em; padding-right:0em;
}
.nosotros.c2 p{
    padding-left: 3em; padding-top: 6em; 
}
.nosotros.c2 .p1{
    font-weight: bold;
    margin-bottom: 0;
}
.nosotros.c2 .p2{
    padding-top: 0;
}
.nosotros.c3{
    padding-top:0em;padding-left:0em; padding-right:0em;
}
.nosotros.c4{
    padding-top:0em;padding-left:0em; padding-right:0em;
}

.nosotros.cg1{
    padding-top: 0em; padding-left: 0em; padding-right: 0em;
}
.nosotros.cg2{
    padding-top: 0em; padding-left: 0em; padding-right: 0em; background-size: cover;
}
.nosotros.cg3{
    padding-top: 0em; padding-left: 0em; padding-right: 0em; background-size: cover;
}
.nosotros.cg4{
    padding-top: 0em; padding-left: 0em; padding-right: 0em; background-size: cover;
}
.nosotros.cg5{
    padding-top: 0em; padding-left: 0em; padding-right: 0em; background-size: cover;
}

.nosotros.cg5 p{padding-left: 3em; padding-top: 6em; }
.nosotros.cg5 .p1{
    font-weight: bold;
    margin-bottom: 0;
}
.nosotros.cg5 .p2{padding-top: 0;}

.nosotros.cg6{
    padding-top: 0em; padding-left: 0em; padding-right: 0em; background-size: cover;
}
.nosotros.cg7{
    padding-top: 0em; padding-left: 0em; padding-right: 0em; background-size: cover;
}


.wrapper_thumbnail_video{
    width:100%;
    height:100px;
    background:#000; 
    text-align:center;
    font-size:40px;
    padding-top:22px;
    cursor: pointer;
}
.wrapper_thumbnail_video i,
.wrapper_thumbnail_video span{
    opacity: 0.65;
}
.wrapper_thumbnail_video:hover i,
.wrapper_thumbnail_video:hover span{
    opacity: 1;
}
.wrapper_thumbnail_video span{
    font-size: 10px;
    display: block;
}
.modal-lg.modal-video{
    width: 100% !important;
}
.video_post{width: 100%;}

.btn_solicitar_cotizacion{
    font-size:12px;
    margin-left:10px;
}
.detalle_cotizacion{
    width:50%;
    display:inline-block;
}
.detalle_cotizacion img{
    width: 50px;
    height: 50px;
    margin:5px;
}

.campos_cotizacion select,
.campos_cotizacion input[type=number]{
    width:100px;
    height:25px;
    color:#fff; 
    float:right;
    background-color: #18191b;
    border:1px solid #999;
    font-size:12px;
}
.campos_cotizacion input[type=number]{
    width:50px;
    padding-left:5px;
}

input, select, textarea{
    outline: none !important;
}

.nav-tabs.nav-justified > li > a{
    border-radius: 0 !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color:#9d3c34 !important ;
    border-color:#9d3c34 !important ;
    color:#fff !important;
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color: #18191b !important;
}

.nav-tabs > li > a{
    border:1px solid #333 !important;
}
.contenedor_productos_seleccionados{
    margin:0px 0 20px 0; 
    padding: 10px 5px;
    background-color:#2d2d2d;
}


body{
    line-height: 1.5em !important;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img{
    min-height: 500px;
}


.picframe .loading{
    position: absolute;
    left:50%;
    top:50%;
}

.grid-item{
    background-image:url('../images/loading.gif');
    background-position:center;
    background-size: 50px 50px !important;
    background-repeat:no-repeat;
}

#btn_ver_mas{
    margin: 0 auto;
    display: block;
}