body{
    /*font-family:"Source Sans Pro", sans-serif !important;*/
    font-family: 'Roboto', sans-serif !important;
}
body.login{
    background-color: #2d2d2d;
}

.right_col{min-height: 600px;}
.mtop20{margin-top:20px !important;}

.login_wrapper{
    margin-top: 20px;
}
.login_form{
    background:#e8e8e8;
    padding:20px;

}
.login_content{
    padding: 0;
}
.login_content form{
    margin:0 ;
}
.login_content form input[type="submit"], #content form .submit{
    margin-left: 0;
}
.login_content h1:before,
.login_content h1:after{
    background:transparent;
}
.login_content{
    text-shadow:none;
    color:#000;
}
.site_title .logo{
    width: 115px;
    display: inline-block;
}
.title_right{
    float: right !important;

}
.title_right .input-group{
    width: initial !important;
    display: inherit !important;
    float: right !important;
}

.nav.side-menu>li.active>a{
    background: linear-gradient(#5b5b5b, #555555),#2d2d2d;
}


h5.card-title{
    font-size: 35px;
    text-align: center;
}
h6.card-subtitle{
    text-align: center;
}
a.card-link{
    display: block;
    text-align: center;
}
a.card-link:hover{
    text-decoration: underline;
}

h4{
    font-size:16px !important;
}

i.fas{
    font-size: 16px !important;
}

.panel-body .form-control{
    margin-bottom:20px;
}


.right{
    float:right; 
}
.nav-md .container.body .right_col{
    padding:44px 10px 0 0;
}

.page-title .title_left h3{
    margin-left:20px;
}

.modal-footer .btn-borrar{
    position:absolute;
    left: 16px;;
}

.eo_image_thumb,
.eo_video_thumb{
    width: 185px;
    display: inline-block;
    padding:17px;
    border:1px solid #ccc;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow:0px 0px 3px #ccc;
}
.eo_image_thumb img{
    width:150px;
    height: 100px;
}
.eo_image_thumb .eo_foto{
    display: none;
}
.eo_image_thumb{
    height: 220px;
}
.eo_image_thumb .orden{
    width:40px;
    height: 20px;
    display: inline;
    font-size:12px;
    margin-top:9px;
    margin-bottom:0px;
}
.eo_video_thumb{height: 180px;}
.eo_video_thumb video{
    width: 150px;
    height: 100px;
}
.clear_thumb_image,
.clear_thumb_video{
    width: 150px;
    display: block;
    margin: 10px 0;
    font-size: 12px;
}
.clear_thumb_video{
    margin-bottom: 95px;
}
#mei_imagenes,#mev_videos, #mz_imagen{display: none;}
#lbl_mei_imagenes,#lbl_mev_videos, #lbl_mz_seccion{
    margin:20px auto;
    display: table;
}

label.destacada{font-size: 12px;}
label.destacada input{margin-right: 5px;}

.borrador{color:#9a9a9a;}
.publicada{color:#3dcc00;}
.sin_destacada{color:#ff0000;}

.media .date{
    margin-bottom: 5px;
}

.media.event.configuracion select{
    margin-bottom: 15px;
}

.main_menu span.fas{
    float:right;
}
.active a span.fas{
    text-align:right !important;
    margin-right:4px;
}
.modal-body.contacto h4{
    color:#000;
}
.modal-body.contacto .fas.green{color:green;}
.modal-body.contacto .fas.red{color:red;}

.img_zocalo{
    height: 100px !important;
}


.cargando_ajax{
	width:32px;
	height:32px;
	background: url('ajax-loader.gif') #fff;
	background-repeat:no-repeat;
	background-position:50%;
	display:none;
}